body {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}
a,
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  height: 420px;
  background-image: url(../images/header_desktop.png);
  background-size: cover;
}
@media (max-width: 376px) {
  .header {
    background-image: url(../images/header_phone.png);
  }
}
.nav {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
@media (max-width: 768px) {
  .nav {
    padding: 0 30px 0 0;
  }
  @media (max-width: 768px) {
    .nav {
      padding: 0 24px 0 0;
    }
  }
}
.logo {
  display: block;
  background-image: url("../images/logo.svg");
  width: 120px;
  height: 24px;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin: 16px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu a {
  display: block;
  font-size: 16px;
  color: #fff;
  padding: 18px 15px;
}
.menu a:hover {
  color: #000;
  background: #d6fa0e;
}
.nav > label,
.nav > input {
  display: none;
}
@media (max-width: 376px) {
  .menu {
    display: none;
  }
  .nav > label {
    display: block;
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 16px;
    right: 22px;
  }
  .nav > input:checked + ul {
    display: block;
    width: 100%;
    position: absolute;
    top: 56px;
    text-align: center;
  }
  .menu a {
    display: block;
    background: #000;
    border: 1px solid #fff;
  }
}
.title {
  width: 460px;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 520px) {
  .title {
    width: 350px;
    padding: 20px 0;
  }
}
@media (max-width: 376px) {
  .title {
    max-width: 100%;
  }
}
.title > h2 {
  font-size: 36px;
  padding: 6px 0;
}
.title > h3 {
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 0;
}
/* index_intro */
.intro {
  text-align: center;
  padding: 50px;
  color: #3d1101;
  background: #efe9e7;
}
@media (max-width: 768px) {
  .intro {
    padding: 50px 26px;
  }
}
.intro > h2 {
  font-size: 20px;
  line-height: 1.5;
  color: #3d1101;
  padding: 0 0 30px;
  position: relative;
  display: inline-block;
}
.intro > h2:before,
.intro > h2:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #979797;
  width: 122px;
  top: 55%;
}
.intro > h2:before {
  left: -145px;
}
.intro > h2:after {
  right: -145px;
}
@media (max-width: 520px) {
  .intro > h2:before,
  .intro > h2:after {
    width: 50px;
  }
  .intro > h2:before {
    left: -60px;
  }
  .intro > h2:after {
    right: -60px;
  }
}
@media (max-width: 376px) {
  .intro > h2:before,
  .intro > h2:after {
    display: none;
  }
}
.intro > ul {
  display: flex;
  justify-content: space-between;
}
.intro li {
  width: 30%;
}
@media (max-width: 376px) {
  .intro > ul {
    flex-wrap: wrap;
  }
  .intro li {
    width: 100%;
  }
}
.intro img {
  border-radius: 50%;
}
.intro h3 {
  font-size: 18px;
  padding: 20px 0 10px;
}
.intro p {
  font-size: 16px;
  text-align: left;
}
@media (max-width: 768px) {
  .intro p {
    max-width: 196px;
  }
}
@media (max-width: 376px) {
  .intro p {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.chef {
  display: flex;
  color: #fff;
  background: #3d1101;
  padding: 0 42px;
}
@media (max-width: 768px) {
  .chef {
    padding: 0 10px;
  }
}
@media (max-width: 376px) {
  .chef {
    flex-wrap: wrap;
    padding: 0;
  }
}
.chef > div {
  width: 50%;
}
@media (max-width: 376px) {
  .chef > div {
    width: 100%;
  }
}
.chefIntro {
  padding: 80px 25px 0;
}
@media (max-width: 768px) {
  .chefIntro {
    padding: 49px 25px 0;
  }
}
@media (max-width: 376px) {
  .chefIntro {
    padding: 30px;
  }
}
.chefIntro > h3 {
  font-size: 20px;
}
.chefIntro > p {
  font-size: 16px;
  line-height: 1.5;
}
.feedback {
  color: #3d1101;
  background: #efe9e7;
  padding: 50px;
}
@media (max-width: 768px) {
  .feedback {
    padding: 50px 10px;
  }
}
.feedback > h2 {
  font-size: 24px;
  text-align: center;
  padding: 0 0 32px;
}
.feedback > ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .feedback > ul {
    flex-wrap: wrap;
  }
}
.feedback > ul > li {
  display: flex;
}
.feedback div {
  padding: 24px 20px 24px 13px;
}
.feedback img {
  max-height: 67px;
  border-radius: 50%;
}
.feedback h3 {
  font-size: 18px;
}
.feedback p {
  max-width: 220px;
  font-size: 16px;
  line-height: 1.5;
  padding: 22px 0 16px;
}
@media (max-width: 376px) {
  .feedback div {
    padding-right: 0;
  }
  .feedback p {
    max-width: 100%;
  }
}
.feedback h4 {
  text-align: right;
  color: rgba(61, 17, 1, 0.75);
}
.location {
  color: #3d1101;
  padding: 50px 42px;
}
@media (max-width: 768px) {
  .location {
    padding: 50px 10px;
  }
}
.location > h2 {
  font-size: 24px;
  text-align: center;
}
.location > div {
  display: flex;
  padding: 38px 0 0;
}
.location .map {
  width: 50%;
}

.location img {
  max-height: 386px;
}
.book {
  width: 50%;
  font-size: 14px;
  padding: 0 0 0 20px;
}
@media (max-width: 376px) {
  .location > div {
    flex-wrap: wrap;
  }
  .location .map {
    width: 100%;
  }
  .book {
    width: 100%;
    padding: 30px 0 0 0;
  }
}
.book > label {
  display: block;
}
.book > input {
  height: 32px;
  font-size: 16px;
  margin: 6px 0 12px;
}
.book > input[type="text"],
.book > input[type="tel"],
.book > input[type="email"] {
  width: 100%;
  box-sizing: border-box;
}
.book > input[type="radio"] {
  height: 16px;
}
.book > .no {
  margin-left: 36px;
}
.book > .button {
  text-align: right;
}
.button > input {
  width: 70px;
  height: 32px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 3px;
}
.button > .cancel {
  background: rgba(0, 0, 0, 0.35);
}
.button > .submit {
  background: #f56c23;
  margin-left: 11px;
}
.footer {
  color: #3d1101;
  background: #efe9e7;
  display: flex;
  padding: 50px;
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 10px;
  }
}
.footer > li {
  width: 33.33%;
}
@media (max-width: 376px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer > li {
    width: 100%;
  }
  .footer > li + li {
    padding-top: 30px;
  }
}
.footer h3 {
  font-size: 24px;
}
.footer p {
  font-size: 16px;
  padding: 16px 21px 0 0;
}
.link > h2 {
  display: flex;
  justify-content: flex-end;
}
.link h2 a {
  display: block;
  background-image: url("../images/logo_l.svg");
  width: 245px;
  height: 49px;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.link > ul {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;
  padding-top: 22px;
}
.fa-google-plus {
  color: #db4437;
}
.fa-twitter {
  color: #41abe1;
  margin-left: 12px;
}
.fa-facebook-square {
  color: #3a5795;
  margin-left: 12px;
}
/* 以上為index */
/* 以下為cart */
.cartMain {
  background: #efe9e7;
  color: #3d1101;
  padding: 48px 48px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cartMain {
    padding: 48px 10px 0;
  }
}
@media (max-width: 376px) {
  .cartMain {
    flex-direction: column;
  }
}
.sidebar {
  min-width: 170px;
}
@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 24px;
  }
}
.sidebar > h2 {
  font-size: 20px;
  padding: 4px 4px 16px;
}
.sidbar > ul {
  font-size: 16px;
}
.sidebar a {
  display: block;
  color: #3d1101;
  border-bottom: 1px solid #3d1101;
  padding: 8px;
}
.sidebar a:hover {
  color: #fff;
  background: #3d1101;
}
.main {
  margin-left: 20px;
}
@media (max-width: 376px) {
  .main {
    margin: 0 auto;
  }
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
@media (max-width: 376px) {
  .search {
    flex-direction: column;
    align-items: flex-end;
  }
}
.search > .searchBar {
  width: 300px;
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .search > .searchBar {
    width: 150px;
  }
}
@media (max-width: 376px) {
  .search > .searchBar {
    width: 100%;
    margin-bottom: 16px;
  }
}
.searchBar > input {
  width: 100%;
  height: 32px;
  font-size: 20px;
  background: #efe9e7;
  border: 2px solid #3d1101;
  box-sizing: border-box;
}
.searchBar > a {
  display: block;
  color: #fff;
  background-color: #3d1101;
  padding: 7px;
  position: absolute;
  right: 0;
}
.searchBar > i {
  font-size: 20px;
}
.search > .checkout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.checkout > h4 {
  font-size: 16px;
  padding: 0 12px;
  border-right: 1px solid #3d1101;
}
.checkout > i {
  font-size: 24px;
  padding: 0 12px;
}
.main > .cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart > li {
  min-width: 230px;
  position: relative;
  text-align: center;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}
.cart > li > i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  padding: 9px;
}
.cart > li > img {
  width: 220px;
  height: 120px;
}
@media (max-width: 376px) {
  .cart > li {
    margin: 0 auto 30px;
  }
  .cart > li > img {
    width: 300px;
    height: 120px;
  }
}
.cart > li > h2 {
  font-size: 20px;
  padding: 11px 0 5px;
}
.cart > li > h4 {
  font-size: 12px;
}
.cart > li > h4 + h2 {
  width: 91px;
  border-top: 3px solid #3d1101;
  padding: 20px 0 0;
  margin: 8px auto 3px;
}
.cart > li > a {
  display: block;
  font-size: 16px;
  color: #ff5e45;
  border: 2px solid #ff5e45;
  border-radius: 3px;
  padding: 4px;
  margin: 10px;
}
.cart > li > a:hover {
  color: #fff;
  background: #ff5e45;
}
/* 以上為cart */
/* 以下為login */
.login {
  background: #efe9e7;
  color: #3d1101;
  padding: 50px 50px 4px;
  text-align: center;
}
@media (max-width: 768px) {
  .login {
    padding: 50px 10px 4px;
  }
}
.login > h2 {
  font-size: 48px;
  font-weight: 900;
}
.login > h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0 35px;
}
.loginForm {
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
  padding: 15px;
  border-top: 3px solid #ff5e45;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 376px) {
  .loginForm {
    padding: 15px 0;
  }
}
.loginForm > p {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.loginForm > label {
  display: block;
  font-size: 16px;
  padding: 16px 0 3px;
}
.loginForm > input {
  font-size: 16px;
  color: rgba(61, 17, 1, 0.5);
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.loginForm > a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #ff5e45;
  text-align: left;
  padding: 4px 4px 30px;
}
.loginButton {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.loginButton > input {
  width: 125px;
  height: 32px;
  color: #fff;
  border: 0;
  border-radius: 3px;
}
.loginButton > .buttonRegister {
  background: rgba(0, 0, 0, 0.35);
}
.loginButton > .buttonLogin {
  background: #f56c23;
}
/* 以上為login */
